In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('./data/data_nike_vs_addidas_unsupervised.csv')
df

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,4.8,41
1,Women's adidas Originals Sleek Shoes,G27341,7599,3799,50,Adidas ORIGINALS,3.3,24
2,Women's adidas Swim Puka Slippers,CM0081,999,599,40,Adidas CORE / NEO,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50,Adidas CORE / NEO,4.1,35
4,Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50,Adidas ORIGINALS,3.5,72
...,...,...,...,...,...,...,...,...
3263,Air Jordan 8 Retro,CI1236-100,15995,12797,0,Nike,5.0,1
3264,Nike Phantom Venom Club IC,AO0578-717,4995,3497,0,Nike,0.0,0
3265,Nike Mercurial Superfly 7 Academy TF,AT7978-414,8495,5947,0,Nike,5.0,1
3266,Nike Air Max 98,AH6799-300,0,16995,0,Nike,4.0,4
3267,Nike P-6000 SE,CJ9585-600,8995,6297,0,Nike,0.0,0

In [63]:
nike_count = (df['Brand'] == 'Nike').sum()
print(nike_count)

643

In [64]:
Rating_Zero = df[df['Rating'] == 0].index
print(Rating_Zero)   # 302

Index([  61,   86,   87,   90,  174,  262,  285,  296,  337,  400,
       ...
       3245, 3250, 3251, 3252, 3253, 3254, 3259, 3260, 3264, 3267],
      dtype='int64', length=302)

In [65]:
df = df.drop(Rating_Zero)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2966 entries, 0 to 3266
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   2966 non-null   object
 1   Product ID     2966 non-null   object
 2   Listing Price  2966 non-null   int64
 3   Sale Price     2966 non-null   int64
 4   Discount       2966 non-null   int64
 5   Brand          2966 non-null   object
 6   Rating         2966 non-null   float64
 7   Reviews        2966 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 208.5+ KB

In [67]:
nike_count = (df['Brand'] == 'Nike').sum()
print(nike_count)

414

In [68]:
Adidas_count = df[df['Brand'].str.startswith('Adidas')]
print(len(Adidas_count))

2552

In [69]:
# 데이터 인덱스 재설정
df_index = df.reset_index(inplace=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          2966 non-null   int64
 1   Product Name   2966 non-null   object
 2   Product ID     2966 non-null   object
 3   Listing Price  2966 non-null   int64
 4   Sale Price     2966 non-null   int64
 5   Discount       2966 non-null   int64
 6   Brand          2966 non-null   object
 7   Rating         2966 non-null   float64
 8   Reviews        2966 non-null   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 208.7+ KB